@model UserViewModel

@{
    ViewData["Title"] = "AccountPage";
}

<h1>@Model.FirstName</h1>
<h1>@Model.LastName</h1>
<h1>@Model.PhoneNumber</h1>
<h1>@Model.Email</h1>
<h1>@Model.Password</h1>
@if(Model.NumberOfSet == null)
{
    <h1>Вы ничего не забранировали</h1>
}
else{
    <h1>Столик номер @Model.NumberOfSet на время @Model.DateOfReservation</h1>
}