@model BasketViewModel

@{
    ViewData["Title"] = "BasketPage";
    decimal price = 0;
}

<ul class="list-group">
    @foreach (var item in Model.Order)
    {
        price += item.Price;
        <li class="list-group-item">
            @item.Name -- @item.Price BYN
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("RemoveFromBasket", "Basket", new {dishId = item.Id})'">Удалить</button>
        </li>
    }
    @if(Model.Order.Count != 0)
    {
        <li>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Pay", "Basket")'">@price BYN</button>
        </li>
    }
</ul>

<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваш заказ</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach(var dish in Model.Order)
                {
                    <h1>@dish.Name</h1>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оплатить</button>
            </div>
        </div>
    </div>
</div>*@